<div>
    <label for="absent-select">Ajouter un.e absent.e</label>
    <select name="student" id="student-select">
        <option value="">Sélectionner une personne</option>
        <option value="man">Fahd Aljurdy</option>
        <option value="man">Erdal Aslan</option>
        <option value="female">Clara Charriau</option>
        <option value="female">Diambéré Cissé</option>
        <option value="female">Morgane Compa</option>
        <option value="female">Hazar Dhieb</option>
        <option value="female">Anne Gicquel</option>
        <option value="female">Jiyun Grosjean</option>
        <option value="female">Lilianna Guderska</option>
        <option value="female">Kanzia Harfouche</option>
        <option value="man">Thomas Heroguelle</option>
        <option value="female">Christelle Lopes</option>
        <option value="female">Assa Nianghane</option>
        <option value="female">Fama Niasse</option>
        <option value="female">Julie Nonnon</option>
        <option value="female">Cynthia Poiny</option>
        <option value="man">Jérôme Richard</option>
        <option value="female">Katia Zouad</option>
    </select>
    <button type="button">Ajouter</button>
</div>
















