<div>
    <label for="absent-select">Ajouter un.e absent.e</label>
    <select name="student" id="student-select">
        <option value="">Sélectionner une personne</option>
        <option value="man">Fahd</option>
        <option value="man">Erdal</option>
        <option value="female">Clara</option>
        <option value="female">Diambéré</option>
        <option value="female">Morgane</option>
        <option value="female">Hazar</option>
        <option value="female">Anne</option>
        <option value="female">Jiyun</option>
        <option value="female">Lilianna</option>
        <option value="female">Kanzia</option>
        <option value="man">Thomas</option>
        <option value="female">Christelle</option>
        <option value="female">Assa</option>
        <option value="female">Fama</option>
        <option value="female">Julie</option>
        <option value="female">Cynthia</option>
        <option value="man">Jérôme</option>
        <option value="female">Katia</option>
    </select>
    <button type="button">Ajouter</button>
</div>
















