<!-- <div class="rectangle" >    -->
    <!-- ngIf version explicite avec <ng-template>  -->
    <!-- if isDisabled est à true -> affiche 'Personne...' -->
    <!-- sinon affiche #prompt -->

    <!-- <p *ngIf="isDisabled; else prompt">
        Personne n’a été sélectionné actuellement 👀
    </p>
    <ng-template #prompt >  -->

        <!-- if genderIsMale est à true -> affiche #prompt  -->

        <!-- <p class="winnerMessage" *ngIf="getWinnerName().gender === 'male'; else other_content" >
            {{getWinnerName().name}} 🌸<br>
        Tu es le grand gagnant !</p>   -->
       
        <!-- sinon affiche #other_content -->

        <!-- <ng-template #other_content> 
        <p class="winnerMessage" >
            {{getWinnerName().name}} 🌸<br>
        Tu es la grande gagnante !</p>
        </ng-template>  
    </ng-template>  
</div>   -->




